.formm{
  margin:0 150px 0 150px !important;
}
h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;
}
.App{

  background-color: aliceblue;
  margin:150px 400px 150px 400px ;
}
button {
width: 390px !important;

}
.formla{
background-color: aliceblue !important;
}